appdirs
azure-common
azure-core
azure-data-tables
azure-identity
azure-mgmt-compute
azure-mgmt-core
azure-mgmt-network
azure-mgmt-rdbms
azure-mgmt-resource
azure-mgmt-storage
azure-mgmt-web
azure-storage-blob
black
certifi
cffi
charset-normalizer
click
colorama
cryptography
idna
importlib-metadata
isodate
isort
msa
msal-extensions
msrest
mypy-extensions
mysql
mysql-connector
mysqlclient
oauthlib
pathspec
portalocker
pycparser
PyJWT
python-dotenv
PyYAML
regex
requests
requests-oauthlib
six
tomli
typed-ast
typing-extensions
urllib3
zipp
